/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.navbar {
  background-color: #092f62;

  .nav-links {
    color: white;

    a.router-link-active {
      color: white;
    }
  }

  .home-link {
    .site-name {
      color: white;
    }
  }

  .links {
    background-color: transparent !important;
  }
}
